.page{
    .main{
        min-height: 850px;

        a{
            display: block;
            color: black;
            padding: 16px 0;
            border-bottom: 1px solid #e5e5e5;
        }
    }
}
